body{
background:url(img/fon.jpg) #ffffff center bottom fixed;
background-size:cover;
font-family:"Myriad Pro";
color:white;
font-size:25px;
}
a{
color:white;
}

.content{
width:900px;
height:100%;
background:rgb(110,110,110); /* IE */
background:rgba(0, 0, 0, 0.5);
margin:0 auto;
text-align: center;
position: relative;
}
.logo{
margin-top:5px;
}

.title{
font-size:60px;
margin-top:35px;
}

.city{
font-size:40px;
margin-top:45px;
}

.place{
margin-top:15px;
}

.date{
margin-top:35px;
line-height:27px;
}

.particip{
float:left;

}
.guests{
float:right;
}

.particip, .guests{
margin-top:20px;
width:450px;
}

.logos{
position:absolute;
bottom:0;
width:900px;
text-align:center;
}
