p.index{
	line-height:140%;
	padding-bottom:20px;
	}
p.index a{
	color:#66CCFF;
	font-weight:bold;
	}
p.descr{
	display:none;
	}
p.comp_title span a{
	text-decoration:none;
	font-style:italic;
	font-size:11px;
	font-weight:normal;
	}