@charset "utf-8";
body {
	margin: 0;
}
.index {
	margin: 0 auto;
	padding-top: 2vh;
	box-sizing: border-box;
	height: 100vh;
	width: 100vh;
	background: url('images/bckg.jpg') no-repeat;
	background-size: 100vh;
	text-align: center;
	color: #17469e;
	font-family: Tahoma, sans-serif;
	position: relative;
}

.index__logo {
	height: 21.6vh;
	margin-bottom: 2vh;
}
.index__wrapper {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 6vh 10px;

}
.index__title {
	font-size: 5vh;
	margin-bottom: 20px;
}
.index__subtitle {
	font-size: 3vh;
	margin-bottom: 5vh;
}
.index__dates {
	font-size: 3vh;
	margin-bottom: 80px;
}

.index__links {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}

.index__link {
	font-size: 3vh;
	text-decoration: none;
	color: inherit;
}
.index__link:hover {
	text-decoration: underline;
}
.index__copyright {
	position: absolute;
	bottom: 5px;
	width: 100%;
	font-size: 2vh;
}
.index__copyright span {
	font-style: italic;
}

.index__copyright-link {
	color: inherit;
}